<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <p><%= msg.status %></p>
    <p><%= msg.reply %></p>
    <h3><%= msg.result %></h3>
    <a href="/">Back</a>
</body>
</html>